.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.image {
  filter: grayscale(20%) opacity(80%);
  z-index: -1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 73, 110, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}

.title {
  font-size: 3rem;
  font-family: var(--font-roboto);
  color: var(--primary-color);
  margin-bottom: 10px;
}

.description {
  font-size: 1.5rem;
  font-family: var(--font-quicksand);
  line-height: 1.5;
  text-align: center;
  padding: 1rem;
  max-width: auto;
}

.experienceContainer {
  width: 100%;
  max-width: auto;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.backgroundImage {
  z-index: -1;
  filter: grayscale(20%) opacity(80%);
}

.content {
  position: relative;
  z-index: 1;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

