.toolsSection {
  padding: 40px;
  text-align: center;
  background: linear-gradient(to bottom, #21496e, #0077b5);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--primary-color);
  text-decoration: underline;
}

.toolsContainer {
  display: flex;
  justify-content: center;
  gap: 30px 5px;
  flex-wrap: wrap;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 6 - 40px);
  margin: 10px;
}

.icon {
  width: 60px;
  height: 60px;
  animation: jump 2s linear alternate infinite;
}

.toolName {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #ffff;
  text-shadow: 4px 4px 7px var(--background);
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
  }
  40% {
    transform: translate3d(0, -30%, 0) rotateY(180deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
  }
}

@media (max-width: 1200px) {
  .tool {
    width: calc(100% / 6 - 40px);
  }
}

@media (max-width: 900px) {
  .tool {
    width: calc(100% / 6 - 40px);
  }
}

@media (max-width: 600px) {
  .tool {
    width: calc(100% / 6 - 20px);
  }
}

@media (max-width: 480px) {
  .tool {
    width: calc(100% / 4 - 20px);
  }
}
