.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background: transparent;
  padding: 20px;
  z-index: 10;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.linkItem {
  margin: 20px 0;
}

.link {
  font-size: 2rem;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.link:hover {
  color: #0baeb9;
}
