.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  height: 100vh;
  max-width: 95vw;
  margin: 5vh auto;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgb(12, 12, 11);
  position: relative;
  overflow: hidden;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/HeroBG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(10%) opacity(90%);
  z-index: -1;
  border-radius: 20px;
}

.p {
  font-size: 2rem;
  font-family: var(--font-quicksand);
  line-height: 1.5;
  text-align: center;
  background: linear-gradient(to bottom, #21496e, #0077b5);
  padding: 2rem;
  border-radius: 10px;
  max-width: 100%;
}


@media (max-width: 768px) {
  .section {
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }

  .p {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .section {
    height: auto;
    padding: 10px;
  }


  
  .p {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 40px;
  }
}