.card {
  display: flex;
  align-items: center;
  background-color: rgba(33, 73, 110, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.image {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  width: 350px;
  height: 350px;
}

.h1 {
  font-size: 3rem;
  font-family: var(--font-roboto);
  color: #ffffff;
  margin: 0;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  color: #0077b5;
}

.downloadButton {
  padding: 12px 24px;
  background-color: #21496e;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 8px;
}

.downloadButton:hover {
  background-color: #0077b5;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .image {
    margin-right: 0;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
  }

  .h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .icons {
    justify-content: center;
    margin-top: 10px;
  }

  .icon {
    font-size: 2rem;
  }

  .downloadButton {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
