.footer {
  background-image: url("/images/computer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 10px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 73, 110, 0.8);
  z-index: 1;
}

.title,
.form,
.footerBottom {
  position: relative;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #228ec8;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #229cde;
}

.success {
  background-color: #28d1b5;
  color: white;
  font-weight: bold;
  animation: fillEffect 0.5s forwards;
}

@keyframes fillEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  color: #eae8e8;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.icon:hover {
  color: #0077b5;
}

.downloadButton {
  padding: 8px 16px;
  background-color: #21496e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.downloadButton:hover {
  background-color: #0077b5;
}

.copyright {
  color: var(--foreground);
  margin-left: auto;
}
