.footer {
  background-image: url("/images/computer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 50px;
  height: auto;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 73, 110, 0.8);
  z-index: 1;
}

.title,
.form,
.footerBottom {
  position: relative;
  z-index: 2;
}

.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #54acdb;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #229cde;
}

.success {
  background-color: #28d1b5;
  color: white;
  font-weight: bold;
  animation: fillEffect 0.5s forwards;
}

@keyframes fillEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  color: #eae8e8;
  font-size: 2rem;
  transition: color 0.3s;
}

.icon:hover {
  color: #0077b5;
}

.downloadButton {
  padding: 8px 16px;
  background-color: #21496e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5rem;
}

.downloadButton:hover {
  background-color: #0077b5;
}

.copyright {
  color: var(--foreground);
  margin-left: auto;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
    text-align: left;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
  }

  .form {
    max-width: 90%;
  }

  .h3 {
    font-size: 1.2rem;
  }

  .input,
  .textarea {
    font-size: 0.9rem;
  }

  .footerBottom {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .icons {
    gap: 15px;
    justify-content: center;
  }

  .downloadButton {
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .copyright {
    margin-top: 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }

  .title {
    font-size: 1.8rem;
  }

  .form {
    max-width: 80%;
  }

  .h3 {
    font-size: 1.3rem;
  }

  .input,
  .textarea {
    font-size: 1rem;
  }

  .footerBottom {
    flex-direction: column;
    gap: 20px;
  }

  .icons {
    gap: 25px;
  }

  .downloadButton {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 0.8rem;
  }
}

